.box {
  float: left;
  width: 20px;
  height: 20px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  background-color: white;
}

.container {
  float: left;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: white;
}
